<!-- <div>{{ title }}</div>
<div display:inline *ngFor="let x of alphabet.slice(0, 10)">
  <div display:inline *ngFor="let y of numbers.slice(0, 10)">
    {{ x }}{{ y }}
  </div>
</div> -->

<form>
  <button name="redButton" id="red" (click)="setColor('red')">Red</button>
  <button name="greenButton" id="green" (click)="setColor('green')">Green</button>
  <button name="blueButton" id="blue" (click)="setColor('blue')">Blue</button>
</form>

<div>{{ chosenColor }}</div>

<div soundsstyle="color:{{chosenColor}}"
